<!-- Dependencies Imports */ -->
<link href="/bower_components/polymer/polymer-element.html" rel="import">
<link href="/bower_components/paper-input/paper-autogrow-textarea.html" rel="import">
<link href="/bower_components/paper-input/paper-input-decorator.html" rel="import">
<link href="/bower_components/paper-input/paper-input.html" rel="import">
<link href="/bower_components/paper-input/paper-char-counter.html" rel="import">
<link href="/bower_components/iron-icons/social-icons.html" rel="import">
<link href="/bower_components/paper-button/paper-button.html" rel="import">
<link href="/bower_components/paper-styles/color.html" rel="import">

<dom-module id="city-input-tag">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-input always-float-label value="{{inputCities}}" name="cities" id="cities" label="Enter city name"></paper-input>
    <paper-button raised on-click="addCities">OK</paper-button>
    <template is="dom-repeat" items="[[cities]]">
      <iron-icon icon="social:location-city"></iron-icon> {{item}}
      <button on-click="removeCity">X</button>
    </template>
    <!-- <paper-input label="username">
      <iron-icon icon="social:location-city" slot="prefix"></iron-icon>
      <div slot="suffix">@email.com</div>
    </paper-input> -->
  </template>

  <script>
    /**
     * `city-input-tag`
     * Create city tag list
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CityInputTag extends Polymer.Element {
      constructor() {
        super()
        this.allowedCities = ['lyon', 'paris', 'marseille', 'toulouse', 'lille']
        this.addCities = this.addCities.bind(this)
        this.removeCity = this.removeCity.bind(this)
      }

      static get is() { return 'city-input-tag'; }
      static get properties() {
        return {
          cities: {
            type: Array
          },
          inputCities: {
            type: String
          }
        }
      }

      addCities() {
        let filteredCities = this.$.cities.value.split(" ").filter((input) => {
          return _.includes(this.allowedCities, input.toLowerCase())
        })
        this.cities = filteredCities
        this.inputCities = filteredCities.join(' ')
      }

      removeCity(e) {
        let index = this.cities.indexOf(e.model.item)
        if (index > -1) {
          this.splice('cities', index, 1)
          this.inputCities = this.cities.join(' ')
        }
      }
    }

    window.customElements.define(CityInputTag.is, CityInputTag);
  </script>
</dom-module>
